*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: jakarta;
}

@font-face {
    font-family: jakarta;
    src: url(../font/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: jakarta;
    src: url(../font/PlusJakartaSans-Bold.ttf);
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
      opacity: 0; }
  
    to {
      opacity: 1; } 
}

@keyframes border-bottom-convert {
    to {
        background-size: 100% 100%;
    }
}

body{
    background-color: #fdfdfd!important;
}

#container{
    max-width: 80%!important;
    margin:auto;
}

#container .header{
    height:100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#container .header .img_home{
    height:100%;
    width: max-content;
}

#container .header .button_container,
#container .header .button_block{
    display: flex;
}

#container .header .img_home a{
    display: flex;
    height:100%;
}

#container .header img{
    height:80%;
    width:auto;
    margin:auto 0;
    cursor: pointer;
}

#container .header form{
    width:50%;
}

.header .field{
    position: relative;
    display: flex;
    width:100%;
}

.header .field input{
    height:48px;
    padding:6px 45px 6px 20px;
    background-color: #ffff;
    color:#000;
    border:1px solid #797878;
    border-radius:35px;
    font-size: 12px;
    font-weight: 500;
    width:100%;
}

.header .field input:focus{
    outline: 0;
    border:1px solid #74a607;
}

.header .field label{
    position: absolute;
    top:0;
    left:0;
    display: none;
}

.header .field button{
    position: absolute;
    height:100%;
    width:25px;
    color:#fff;
    display: flex;
    overflow: hidden;
    right:1rem;
    top:0;
    justify-content: center;
    border:none;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.button_container{
    height:40%;
}

.button_container .button_block {
    height:100%;
    align-items: center;
}

a{
    text-decoration: none!important;
}

.button_container .col:first-child .button_block{
    justify-content: right;
}

.button_container .col{
    padding:0;
    margin-right:20px;
}

.button_container .button_block p{
    font-weight: bold;
    margin-left:10px;
    font-size:14px;
    color:#74a607;
    line-height: 20px;
    margin-bottom:0;
}

#nav{
    position: relative;
    z-index: 1;
}

#nav ul{
    display:flex;
    width:70%;
    margin:0 auto;
    justify-content: space-between;
    padding:0;
}

#nav ul li{
    height: 30px;
    list-style-type: none;
}

#nav ul> li> a {
    text-decoration: none;
    color:#74a607;
    font-weight: bold;
    position: relative;
    padding-bottom:2px;
}

#nav ul>li>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #74a607; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

#nav ul>li:hover>a::after {
    transform: scaleX(1);
}

#nav ul .root:hover>.sub_nav{
    display: block;
}


#nav .sub_nav{
    position: absolute;
    background-color: #fff;
    top:30px;
    left:0;
    display: none;
    height:300px;
    border:1px solid #cdcdcd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 4px 5px 13px #636262;
    width:100%;
    padding:20px 0;
    background-color:#fff;
    transition:all .5s linear;
    animation: fadeIn .5s linear none;
}



#nav .sub_nav .flex_box{
    display: flex;
    height:100%;
    width:90%;
    margin:0 auto;
}

#nav .sub_nav img{
    height:100%;
    border-radius:10px;
}

#nav .sub_nav .flex_box div{
    margin-left:30px;
    margin-top:10px;
    width: 60%;
}

.flex_box div table{
    width:100%;
}

#nav .sub_nav td{
    padding:10px;
}

#nav .sub_nav td a{
    text-decoration: none;
    color:#333;
}

#nav .sub_nav .flex_box h3{
    margin:0;
    color:#74a607;
    font-weight: bold;
}

.sub_nav .flex_box table td:hover{
    cursor: pointer;
}

.sub_nav .flex_box svg{
    height:15px;
}

.flex_box table tr td:hover>a{
    position: relative;
}

.flex_box table tr td>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; 
    border-bottom:1px solid #333;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.flex_box table tr td:hover>a::after {
    transform: scaleX(1);
}

.flex_box table .aside_link1:hover>a,
.flex_box table .aside_link1:hover>svg{
    border-bottom:1px solid #6638b6;
}

.flex_box table .aside_link2:hover>a,
.flex_box table .aside_link2:hover>svg{
    border-bottom:1px solid #ff6a14;
}

.flex_box table .aside_link3:hover>a,
.flex_box table .aside_link3:hover>svg{
    border-bottom:1px solid #5986d9;
}

#container .body{
    margin-top:30px;
}

#container .body .filter{
    width:25%;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

#container .body .position_page span{
    margin:0 1rem;
}

#container .body .position_page a{
    color:#333;
}

#container .body .dropdown{
    position: relative;
}

.body .dropdown .select{
    color:#333;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid #ffffff;
    box-shadow: 0 0 3px 1px #a1a1a1;
    border-radius:5px;
    padding:7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.body .dropdown .select-clicked{
    border:2px solid #8dc90c;
    color:#74a607;
}

.body .dropdown .select:hover{
    border:2px solid #8dc90c;
    color:#74a607;
}

.body .dropdown .select .caret{
    width:0;
    height:0;
    margin-left:5px;
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
    border-top:6px solid #a1a1a1;
    transition: 0.3s;
}  

.body .dropdown .select:hover .caret{
    border-top:6px solid #74a607;
}  


.dropdown .select .caret-rotate{
    transform: rotate(180deg);
    border-top:6px solid #74a607;
}

.body .dropdown .menu{
    list-style: none;
    padding:5px;
    background-color: #fff;
    box-shadow: 0 0 1em 3px #a1a1a1;
    border-radius:5px;
    color:#333;
    position: absolute;
    min-width: 100%;
    width:max-content;
    top:50px;
    left:0;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.body .dropdown .menu li{
    padding:5px;
    border-radius:5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dropdown .menu li:hover{
    background-color: #74a607;
    color:#fff
}

.dropdown .active{
    background-color: #74a607;
}

.body .menu-open{
    display: block!important;
    opacity: 1!important;
}

#container .body .position_page a:first-child:hover{
    color:#74a607;
}

.catalog_block .your_product{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;
    gap:20px;
}

.catalog_block h3{
    color:#74a607;
    font-weight: bold;
    font-size: 20px;
}

#product_slide .special_catalog{
    display: block !important;
    width:20%;
}

.your_product .product p{
    margin:0;
}

.your_product .product{
    text-align:left;
}

.your_product .product p{
    font-size:14px;
}

.your_product .product .product_catalog{
    color:#797777;
    margin-top:0.5rem;
}

.your_product .product .product_name{
    color:#060724;
}

.your_product .product .product_price{
    color:#ef405c;
    margin-top:1rem;
    font-size:18px;
    font-weight: bold;
    margin-bottom:0.5rem;
}

.your_product .product .add_cart{
    border-radius:15px;
    width:100%;
    background-color:#fff;
    color:#74a607;
    border:1px solid #74a607;
    padding:7px;
    font-weight: bold;
    height:40px;
    transition: all .5s ease-in-out;
}

.your_product .product .add_cart:hover{
    background-color: #74a607;
    color:#fff;
}

.footer .footer_part h4{
    font-size:18px;
    font-weight: bold;
    color:#74a607;
    margin-bottom:20px;
}

.footer .footer_part ul{
    padding:0;
}

.footer .footer_part ul li{
    list-style-type: none;
    padding-bottom:10px;
    color:#a1a1a1;
    font-size:14px;
}

.footer .footer_part ul li a{
    color:#a1a1a1;
    font-size:14px;
    text-decoration: none;
}

.footer_part ul li:hover a{
    color:#74a607;
}

.contact_inform ul li span{
    font-weight: bold;
    color: #000!important;;
}

.footer_part input{
    border-radius:20px;
    font-size: 14px;
    padding:10px 0 10px 20px;
}

.footer_part input:hover{
    border:1px solid #74a607;
}

.footer_part button{
    border:1px solid #74a607;
    color:#74a607;
    margin-top:15px;
    border-radius:20px;
    font-size:14px;
    padding:10px 20px;
}

.footer_part button:hover{
    border:1px solid #74a607;
    color:#fff;
    background-color: #74a607;
}












.



