*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: jakarta;
}

@font-face {
    font-family: jakarta;
    src: url(../font/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: jakarta;
    src: url(../font/PlusJakartaSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
}


#container .slide{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
}

#container .slide .wallpaper{
    background-image: url(../img/Login_Signup/Slide/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    background-position-x: 50%;
    background-position-y: 0;
}

#container .user_block{
    z-index: 1;
    position: relative;
    width:400px;
    background-color: #fff;
    margin-top:10%;
}

#container #login{
    display: none;
}

#container .user_block{
    padding:0 40px 20px;
    border-radius:25px;
    border:none;
}

#container .user_block .block-header{
    height:150px;
    padding:0;
    display: flex;
    justify-content: center;
}

.user_block .block-header img{
    height:100%;
}

.user_block .block-body {
    padding-bottom:25px;
}

#login .block-body input{
    margin-bottom:10px;
    font-size:14px;
    color:rgb(71, 71, 71);
    border-radius:4px;
    border:0px;
    background-color: rgba(0, 0, 0, 0.04);
    line-height:22px;
    height:40px;
}

#login .block-body .forget_pass button{
    border:none;
    background-color: none;
    font-size:14px;
    color:#74a607;
    padding:0;
}

#login .block-body .forget_pass button:hover{
    color:#547905;
}

.block-body .submit_login{
    height:40px;
    border-radius:20px;
    background-color: #74a607;
    color:#fff;
    width:100%;
    margin-top:20px;
}

.block-body .submit_login:hover{
    background-color: #6c9b07;
    color:#fff;
}

.user_block .block-footer{
    padding:0;
    display: flex;
    justify-content: right;
}

.user_block .block-footer .btn{
    font-size:12px;
    padding:0;
}

.user_block .block-footer .btn:hover{
    color:#547905;
    text-decoration: underline;
    text-decoration-color: #6c9b07;
}

#signup .block-body .gender-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

#signup .block-body .row{
    margin-bottom:15px;
} 

#signup .gender-checkbox input[type=radio]{
    width:20px;
    height:20px;
}

#signup .form-label{
    font-weight: bold;
    font-size:14px;
}

#signup .date_block{
    justify-content: space-between;
    display: flex;
}

#signup .date_block .form-select,
#singup .date_block .form-select option{
    font-size: 0.7rem !important;
}

.date_block #dob-year{
    width:38%;
}

.date_block #dob-month,
.date_block #dob-day{
    width:28%;
}

#signup .invalid-feedback{
    display: block;
    font-size:12px;
    margin-top:5px;
}
